

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlas of Elasmobranchs</title>

    {{!-- <link rel="shortcut icon" href="/assets/img/favicon.png"/> --}}
    <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
    <nav></nav>
    <main>
        <div class="loader">
            <div class="dot"></div>
            <br>
            <div class="dot"></div>
             <br>
            <div class="dot"></div>
        </div>
    </main>

    <video id="bgVideo" src="../assets/media/waterBackground.mp4" preload="true" autoplay loop muted></video>
</body>
</html>