

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlas of Elasmobranchs</title>

    {{!-- <link rel="shortcut icon" href="/assets/img/favicon.png"/> --}}
    <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
    <main>
        <div class="loader">
            <div class="dot"></div>
            <br>
            <div class="dot"></div>
             <br>
            <div class="dot"></div>
        </div>
    </main>
    <!--
Source - https://stackoverflow.com/a/24293526
Posted by Rachel Gallen, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-03, License - CC BY-SA 4.0
-->
{{!-- 
   <video id="bgVideo" controls preload="true" autoplay loop muted>
      <source src="Home_Page.mp4" type="video/mp4" /> 
       <source src="Home_Page.ogv" type="video/ogv" />    
      <source src="Home_Page.webm" type="video/webm" /> 
      
   </video> --}} 

    <video id="bgVideo" src="../assets/media/waterBackground.mp4" preload="true" autoplay loop muted></video>
</body>
</html>